<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">User Stats</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
            <p>
              <strong>Name</strong>: {{example.name}}</p>
            <p>
              <p>
                <strong>Age:</strong> {{example.age}}</p>
              <p>
                <strong>Height</strong>: {{example.height}} inches
              </p>
               <p>
                <strong>Weight</strong>: {{example.weight}} lbs
              </p>
              <p>
                <strong>Goal</strong>: {{example.goal}} 
              </p>
              <p>
                <strong>Physical Activity</strong>: {{example.activity}}
              </p>
              <p>
                <strong>Sex</strong>: {{example.sex}} 
              </p>
              
              <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>