<nav class="navbar navbar-expand-lg fixed-top ">
  <a class="navbar-brand" href="index.html" style="font-family: 'Pacifico', cursive;">gitFit APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <a class="nav-link" data-value="about" href="#">Home</a></li>
      <li class="nav-item">
        <a class="nav-link " data-value="portfolio" href="#">Exercises</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-value="blog" href="#">Meal Prep</a></li>
      <li class="nav-item">
        <a class="nav-link " data-value="team" href="#"></a></li>
      <li class="nav-item">
        <a class="nav-link " data-value="contact" href="#">Contact</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div id="stats" class="card-body">
          <h5 id= "userStats" class="card-title">User Stats</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
            <p>
              <strong>Name</strong>: {{example.name}}</p>
            <p>
              <p>
                <strong>Age:</strong> {{example.age}}</p>
              <p>
                <strong>Height</strong>: {{example.height}} inches
              </p>
               <p>
                <strong>Weight</strong>: {{example.weight}} lbs
              </p>
              <p>
                <strong>Goal</strong>: {{example.goal}} 
              </p>
              <p>
                <strong>Physical Activity</strong>: {{example.activity}}
              </p>
              <p>
                <strong>Sex</strong>: {{example.sex}} 
              </p>
              
              <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <h1>Based off of your physical stats, your Basal Metabolic Rate (BMR) is {{bmr}} </h1>
</div>